modules = ["go", "go-1.21"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "OAuth2 Server"

[[workflows.workflow]]
name = "OAuth2 Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "go run ."
waitForPort = 8000

[deployment]
run = ["sh", "-c", "go run ."]

[[ports]]
localPort = 8000
externalPort = 80
